@import '../base/color';

label {
  width: 100%;
}

.form-control {
  color: $pure-white;
  font-size: 0.9rem !important;

  &-contact {
    border: none !important;
    border-radius: 0 !important;
    background-color: $second-1 !important;
  }

  &:focus {
    // border: 0.0625rem solid $pure-white !important;
    box-shadow: none !important;
    outline: none;
  }
  &::placeholder {
    color: $second-4 !important;
    font-weight: 400;
    font-size: .875rem !important;
  }
  &:not(textarea) {
    height: 2.5rem;
  }
}

.textareas {
  height: 14.5rem !important;
}

.form-wrapper {
  position: relative;

  .form-control {
    padding-right: 2.5rem !important;
    border: 0.0625rem solid $pure-white;
    border-radius: 0.25rem;
  }

  .form-control-normal {
    background-color: $second-1 !important;
    width: 15rem;
    padding-right: 2.5rem !important;
    border: none;
  }

  .form-control-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: $pure-white;
    pointer-events: none;
    font-size: 1rem;
  }
}

.form-bg-black {
  background-color: $pure-black !important;
  color: $pure-white !important;
}
