<div class="bg-black">
  <div class="container py-4">
    <div class="row align-items-baseline gap-10">
      <div class="col">
        <div class="fs-14 gap-8 vstack">
          <a class="fw-600 fs-18 mb-2 fs-16 link-white text-nowrap">Exclusive</a>
          <a class="link-white text-nowrap">Subscribe</a>
          <a class="link-white text-nowrap">Get 10% off your first order</a>
        </div>
      </div>
      <div class="col">
        <div class="fs-14 gap-8 vstack">
          <a class="fs-18 mb-2 link-white text-nowrap">Support</a>
          <a class="link-white text-nowrap">111 Bijoy sarani, Dhaka,<br>  DH 1515, Bangladesh.</a>
          <a class="link-white text-nowrap">exclusive@gmail.com</a>
          <a class="link-white text-nowrap">+88015-88888-9999</a>
        </div>
      </div>
      <div class="col">
        <div class="fs-14 gap-8 vstack">
          <a class="fs-18 mb-2 link-white text-nowrap">Account</a>
          <a class="link-white text-nowrap">My Account</a>
          <a class="link-white text-nowrap">Login / Register</a>
          <a class="link-white text-nowrap">Cart</a>
          <a class="link-white text-nowrap">Wishlist</a>
          <a class="link-white text-nowrap">Shop</a>
        </div>
      </div>
      <div class="col">
        <div class="fs-14 gap-8 vstack">
          <a class="fs-18 mb-2 link-white text-nowrap">Quick Link</a>
          <a class="link-white text-nowrap">Privacy Policy</a>
          <a class="link-white text-nowrap">Terms of Use</a>
          <a class="link-white text-nowrap">FAQ</a>
          <a class="link-white text-nowrap">Contact</a>
        </div>
      </div>
      <div class="col">
        <div class="fs-14 gap-8 vstack">
          <a class="fs-18 mb-2 link-white text-nowrap">Download App</a>
          <a class="link-white text-nowrap">Save $3 with App New User Only</a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 text-center text-white mb-2 mb-md-0">
        <p class="mb-0 fs-14">&copy; Copyright Exclusive 2025. All right reserved</p>
      </div>
    </div>
  </div>
</div>
