$pure-black : #000000;
$pure-white : #FFFFFF;

// Success Set
$success-1  : #ECFDF5;
$success-2  : #D1FAE5;
$success-3  : #A7F3D0;
$success-4  : #6EE7B7;
$success-5  : #34D399;
$success-6  : #10B981;
$success-7  : #059669;
$success-8  : #047857;
$success-9  : #065F46;
$success-10 : #064E3B;

// Warning Set
$warning-1  : #FFFBEB;
$warning-2  : #FEF3C7;
$warning-3  : #FDE68A;
$warning-4  : #FCD34D;
$warning-5  : #FBBD24;
$warning-6  : #F59E0B;
$warning-7  : #D97706;
$warning-8  : #B45309;
$warning-9  : #92400E;
$warning-10 : #78350F;

// Error Set
$error-1    : #FFF1F2;
$error-2    : #FFE4E6;
$error-3    : #FECDD3;
$error-4    : #FDA4AF;
$error-5    : #FB7185;
$error-6    : #F43F5E;
$error-7    : #E11D48;
$error-8    : #BE123C;
$error-9    : #9F1239;
$error-10   : #881337;

// Primary Set
$primary-1  : #FFFFFF;
$primary-2  : #363738;

// Secondary Set
$second-1   : #F5F5F5;
$second-2   : #FEFAF1;
$second-3   : #DB4444;
$second-4   : #7D8184;

// Other Set
$other-1    : #47B486;
$other-2    : #DB4444;
$btn-dsbld  : #64686c;

.link-white {
  color: $pure-white;
}

.greyish-text {
  color: $second-4;
}

.greyish-bg {
  background-color: $second-4 !important;
}

.black-text {
  color: $pure-black !important;
}
