<div class="container">
  <div class="row my-5 justify-content-center gap-2">
    <div class="col-md-3">
      <h3 class="fs-14 mb-2">Manage my account</h3>
      <p class="fs-14">My profile</p>
    </div>
    <div class="col-md-7">
      <div class="card-highlight p-3 h-100 d-flex flex-column">
        <h3 class="fs-14 mb-2" style="color: #DB4444;">Edit your profile</h3>
        <form class="d-flex flex-column h-100">
          <div class="row mb-1">
            <div class="col-lg-6 col-md-12">
              <label for="first_name" class="form-label fs-14 fw-600">First name</label>
              <input type="text" class="form-control form-control-contact" id="first_name" placeholder="Enter first name">
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="last_name" class="form-label fs-14 fw-600">Last name</label>
              <input type="text" class="form-control form-control-contact" id="last_name" placeholder="Enter last name">
            </div>
            <div class="col-lg-6 col-md-12 mt-2">
              <label for="email" class="form-label fs-14 fw-600">Email</label>
              <input type="email" inputmode="email" class="form-control form-control-contact" placeholder="Enter email">
            </div>
            <div class="col-lg-6 col-md-12 mt-2">
              <label for="street_address" class="form-label fs-14 fw-600">Street address</label>
              <input type="text" class="form-control form-control-contact" id="street_address" placeholder="Enter address">
            </div>
            <div class="col-lg-12 mt-2">
              <label for="curr_pass" class="form-label fs-14 fw-600">Password changes</label>
              <input type="text" class="form-control form-control-contact" id="curr_pass" placeholder="Enter current password">
            </div>
            <div class="col-lg-12 mt-2">
              <label for="new_pass" class="form-label fs-14 fw-600">
                <input type="text" class="form-control form-control-contact" id="new_pass" placeholder="Enter new password">
              </label>
            </div>
            <div class="col-lg-12">
              <label for="confirm_pass" class="form-label fs-14 fw-600">
                <input type="text" class="form-control form-control-contact" id="confirm_pass" placeholder="Enter confirm password">
              </label>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end gap-2 mt-2">
            <button type="submit" class="btn btn-primary-2 w-auto border-0">Cancel</button>
            <button type="submit" class="btn btn-primary w-auto">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
