<div class="container">
  <div class="row align-items-center my-2 gap-2">
    <div class="col-md-6">
      <img src="../../../assets/images/auth_side_img.png" alt="Auth side image">
    </div>
    <div class="col-md-5">
      <h2 class="page-head">Log in to Exclusive</h2>
      <p class="fs-14">Enter your details below</p>
      <form autocomplete="off" [formGroup]="loginForm">
        <div class="mb-3">
          <label for="email_address" class="form-label">Email address</label>
          <input type="email" class="form-control form-control-normal" id="email_address" aria-describedby="emailHelp" formControlName="email" [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.errors }">
          <div id="emailHelp" class="form-text" *ngIf="loginForm.get('email')?.valid">We'll never share your email with anyone else.</div>
          <div class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.errors">
            <span class="fs-12" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
            <span class="fs-12" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input type="password" class="form-control form-control-normal" id="pass" formControlName="password" [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && loginForm.get('password')?.errors }">
          <div class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && loginForm.get('password')?.errors">
            <span class="fs-12" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
            <span class="fs-12" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
          </div>
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-between gap-2">
          <button type="submit" class="btn btn-primary border-0" (click)="loginSetup()" [disabled]="loginBtnSubmitted || loginForm.invalid">Log in</button>
          <button type="submit" class="btn btn-primary-1 border-0" (click)="forgotSetup()">Forgot password?</button>
        </div>
        <div class="mb-3 text-center">
          <p>No account?</p>
          <button class="btn btn-primary-2 fs-14 border-0">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
