<div class="container my-5">
  <div class="row gap-2 flex-wrap justify-content-center">
    <div class="col-md-4">
      <div class="card-highlight p-3">
        <div class="direction">
          <div class="d-flex gap-2 align-items-center mb-3">
            <div class="small_round_icon">
              <i class="icon-phone"></i>
            </div>
            <span class="fs-14">Call to us</span>
          </div>
          <p class="fs-14">We are available 24/7, 7 days a week</p>
          <p class="fs-14">Phone : +91 8555562563</p>
        </div>
        <hr>
        <div class="direction">
          <div class="d-flex gap-2 align-items-center mb-3">
            <div class="small_round_icon">
              <i class="icon-phone"></i>
            </div>
            <span class="fs-14">Call to us</span>
          </div>
          <p class="fs-14">Fill out our form and we will contact you within 24 hours.</p>
          <p class="fs-14 mb-0">Emails : customer@exclusive.com</p>
          <p class="fs-14">Emails : support@exclusive.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card-highlight p-3 h-100 d-flex flex-column">
        <form class="d-flex flex-column h-100">
          <div class="row mb-1">
            <div class="col-lg-4 col-md-12">
              <input type="text" class="form-control form-control-contact" placeholder="Your Name *">
            </div>
            <div class="col-lg-4 col-md-12 my-below-md-2">
              <input type="email" class="form-control form-control-contact" placeholder="Your Email *">
            </div>
            <div class="col-lg-4 col-md-12 mb-md-1">
              <input type="text" class="form-control form-control-contact" placeholder="Your Phone *">
            </div>
          </div>
          <div class="form-floating flex-grow-1 mb-3">
            <textarea class="form-control form-control-contact h-100" placeholder="Your message *" ></textarea>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary w-auto">Send message</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
