<div class="container">
  <div class="row my-4 justify-content-between">
    <div class="col-md-5">
      <h2 class="page-head">Billing details</h2>
      <form autocomplete="off">
        <div class="mb-3">
          <label for="first_name" class="form-label required">First name</label>
          <input type="text" class="form-control form-control-contact" id="first_name">
        </div>
        <div class="mb-3">
          <label for="company_name" class="form-label">Company name</label>
          <input type="text" class="form-control form-control-contact" id="company_name">
        </div>
        <div class="mb-3">
          <label for="street_address" class="form-label required">Street address</label>
          <input type="text" class="form-control form-control-contact" id="street_address">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Apartment, floor, etc. (optional)</label>
          <input type="text" class="form-control form-control-contact" id="address">
        </div>
        <div class="mb-3">
          <label for="city" class="form-label required">Town/City</label>
          <input type="text" class="form-control form-control-contact" id="city">
        </div>
        <div class="mb-3">
          <label for="phn_num" class="form-label required">Phone number</label>
          <input type="text" inputmode="numeric" class="form-control form-control-contact" id="phn_num">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label required">Email address</label>
          <input type="email" inputmode="email" class="form-control form-control-contact">
        </div>
        <div class="mb-3">
          <span>Save this information for faster check-out next time</span>
        </div>
      </form>
    </div>
    <div class="col-md-5 mt-5">
      <div class="d-flex justify-content-between">
        <span>Subtotal: </span>
        <span>$1450</span>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <span>Shipping: </span>
        <span>$1450</span>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <span>Total: </span>
        <span>$1450</span>
      </div>
      <button class="btn btn-primary fs-14 mt-2">Place order</button>
    </div>
  </div>
</div>
