<div class="container">
  <div class="row align-items-center my-2">
    <div class="col-md-7">
      <h2 class="page-head">Our story</h2>
      <p class="fs-14">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In molestiae sint eveniet laudantium repellendus quaerat suscipit dignissimos, cumque, consequatur laboriosam porro natus totam nihil numquam similique obcaecati distinctio ut? Impedit.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/about_img.png" alt="About side image">
    </div>
  </div>
  <div class="row my-5 gap-2 flex-wrap">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer hover-red" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-shop fs-40"></i>
          </div>
          <span class="fs-14 mt-3 fw-600 mb-0" [countUp]="4">0</span><span>K</span>
          <p class="fs-12 mb-0">Sellers active on our site</p>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer hover-red" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-coin-dollar fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">33K</p>
          <p class="fs-12 mb-0">Monthly product sales</p>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer hover-red" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-bag fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">45.5K</p>
          <p class="fs-12 mb-0">Customer active on our site</p>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer hover-red" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-big-bag fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">25K</p>
          <p class="fs-12 mb-0">Annual gross sale on our site</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <div id="carouselExampleCaptions" class="carousel slide d-none d-md-block">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="carousel-paginate active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="carousel-paginate"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="carousel-paginate"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-around flex-column flex-md-row">
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14 mb-1">Abraham Lincoln</h3>
                    <p class="fs-12 mb-1">CEO</p>
                    <div class="d-flex gap-2 fs-12 align-items-center">
                      <a href="https://linkedin.com/in/username" target="_blank" aria-label="LinkedIn">
                        <i class="icon-linkedin2"></i>
                      </a>
                      <a href="https://twitter.com/username" target="_blank" aria-label="Twitter">
                        <i class="icon-twitter"></i>
                      </a>
                      <a href="https://instagram.com/username" target="_blank" aria-label="Instagram">
                        <i class="icon-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Abraham Jacks</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Jomon Lincoln</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-around flex-column flex-md-row">
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Alex Lincoln</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Abraham Jacks</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Jomon Lincoln</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-around flex-column flex-md-row">
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Sachin Tendulkar</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">M S Dhoni</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
              <div class="card border-0">
                <div class="card_img_container">
                  <img src="https://images.unsplash.com/photo-1530631673369-bc20fdb32288?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="prdt_image">
                </div>
                <div class="card-body p-0">
                  <div class="card-text mt-2">
                    <h3 class="fs-14  mb-1">Sanju Samson</h3>
                    <p class="fs-12">CEO</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row my-5 gap-2 flex-wrap">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer border-0" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-delivery fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">Free and fast delivery</p>
          <p class="fs-12 mb-0">Free delivery for all orders over Rs 150</p>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer border-0" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-headphone fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">24/7 Customer service</p>
          <p class="fs-12 mb-0">Friendly 24/7 customer support</p>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="card pointer border-0" style="height: 170px;">
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <div class="round_icon">
            <i class="icon-money-hand-lin fs-40"></i>
          </div>
          <p class="fs-14 mt-3 fw-600 mb-0">Money back gurantee</p>
          <p class="fs-12 mb-0">We return money within 30 days</p>
        </div>
      </div>
    </div>
  </div>
</div>
