<header class="bg-black">
  <div class="container">
    <div class="row justify-content-md-end flex-column flex-md-row align-items-center p-2">
      <div class="col-md-8 col-sm-12 text-center text-white mb-2 mb-md-0">
        <p class="mb-0 fs-14">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
          <a href="#" class="text-white px-2 py-1 rounded fw-600 text-decoration-underline">ShopNow</a>
        </p>
      </div>
      <div class="d-none d-md-block col-md-2 col-sm-12 text-center">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light fs-14 border-0" id="dropdown" placement="bottom-left" ngbDropdownToggle>English</button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu-end fs-14">
            <button ngbDropdownItem>English</button>
            <button ngbDropdownItem>Other Language</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container">
    <a class="navbar-brand fw-600">Exclusive</a>
    <button class="navbar-toggler shadow-none border-0 col-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-600" id="offcanvasNavbarLabel">Exclusive</h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center align-items-center flex-grow-1">
          <li class="nav-item ml-lg-15" data-bs-dismiss="offcanvas"><a class="nav-link fs-14" routerLinkActive="active" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"  aria-current="page">Home</a></li>
          <li class="nav-item" data-bs-dismiss="offcanvas"><a class="nav-link fs-14" routerLinkActive="active" [routerLink]="'/about'" aria-current="page">About</a></li>
          <li class="nav-item" data-bs-dismiss="offcanvas"><a class="nav-link fs-14" routerLinkActive="active" [routerLink]="'/contact'" aria-current="page">Contact</a></li>
          <li class="nav-item" data-bs-dismiss="offcanvas"><a class="nav-link fs-14" routerLinkActive="active" [routerLink]="'/auth/login'" aria-current="page">Login</a></li>
        </ul>
        <div class="d-flex gap-3 align-items-baseline justify-content-center">
          <div class="form-wrapper d-none d-lg-block">
            <input type="input" inputmode="input" class="form-control form-control-normal fs-14" placeholder="What are you looking for?">
            <span class="form-control-icon black-text pointer">
              <i class="icon-search"></i>
            </span>
          </div>
          <span class="form-control-icon pointer d-none d-lg-block" (click)="navigateTo('wishlist')" data-bs-dismiss="offcanvas">
            <i class="icon-heart icon-border"></i>
          </span>
          <span class="form-control-icon pointer" (click)="navigateTo('cart')" data-bs-dismiss="offcanvas">
            <i class="icon-cart icon-border"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
